/* Button - Defautl Settings
--------------------------------------------- */
.wp-block-button .wp-element-button {
	transition: all 0.24s cubic-bezier(.16,.5,.43,1);
}

/* .wp-block-button .wp-element-button:hover{
	background-color: var(--wp--preset--color--tertiary) !important;
} */

/* Button - Outline Style
--------------------------------------------- */

.wp-block-button.is-style-outline .wp-block-button__link {
	border: none;
	background-color: transparent;
	outline: 2px solid currentColor;
	outline-offset: -3.5px;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: var(--wp--preset--color--main) !important;
	outline-color: var(--wp--preset--color--main);
}

